body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    width: 33%;
    padding: 10px;
}

.header {
    background-color: darkcyan;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.header_city {
    /*text-align: left;    */
}

.header_visits_caption {
    background-color: lightblue;
    text-align: center;
}

.header_visits {
    text-align: center;
}

.persentage {
    text-align: right;
}

.odd {
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.even {
    background-color: lightyellow;
    border-bottom: 1px solid lightgrey;
}

