body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    width: 33%;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    width: 33%;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.city {
    text-align: left;
}

.header_visits {
    background-color: lightblue;
}

.visits {
    text-align: center;
}

.percentage {
    text-align: right;
}

.odd {
    background-color: white;
}

.even {
    background-color: lightyellow;
}

