body {
    width: 300px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    font-size: 0;
    text-align: center;
    background: white;
}

.block {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-bottom: 1px;
    margin-right: 1px;
    background-color: black;
}

/*
Используемые изображения:
/assets/course13/cat_poo.png
/assets/course13/cat_hiss.png
/assets/course13/cat_walk.png
/assets/course13/cat_slippers.png
/assets/course13/cat_grumpy.png
*/