html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 450px;
    height: 335px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: white;
}

.container {
    background: #34495e;
    padding-top: 10px;
}

.header {
    width: 340px;
    background: #c0392b;
    height: 30px;
    margin: auto 50px 10px;
    padding: 5px;
}

.menu {
    background: #3498DB;
    height: 25px;
    padding: 5px 55px;
}

.layout-promo {
    background: #c0392b;
}

.layout-promo {
    height: 55px;
    width: 160px;
    padding: 5px;
}

.promo1 {
    float: left;
    margin: 10px 5px 10px 50px;
}

.promo2 {
    float: right;
    margin: 10px 50px 10px 5px;
}

.layout-positioner {
    content: "";
    display: table;
    clear: both;
}

/*
    Используемые цвета:
    #34495e – мокрый асфальт
    #c0392b – красный
    #3498DB – синий
*/

